<!DOCTYPE html>
<html lang="en">
<head th:include="include :: header"></head>
<body style="font-size: 30px">

<h3>购买商品：越南新娘</h3>
<h3>价格：20000</h3>
<h3>数量：10个</h3>

<button style="width: 100%; height: 60px; alignment: center; background: #b49e8f" onclick="commitOrder()">提交订单</button>

<script src="/js/jquery.min.js?v=2.1.4" th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script>
    function commitOrder() {
        $.ajax({
            type: "POST",
            url: "http://3hqz93.natappfree.cc/wxpay/h5pay/order",
            data: null,
            success: function(data) {
                console.log(data);
                var redirectUrl = "http://3hqz93.natappfree.cc/wxpay/h5pay/h5PageSuccess";
                var mwebUrl = data.mweb_url+"&redirect_url="+encodeURIComponent(redirectUrl);
                window.location.href=mwebUrl;
            }

        })
    }
</script>

</body>
</html>